<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>基本信息</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../../plugins/elementui/index.css">
        <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/style.css">
        <style>
            .peopleBasicsMessage {
                text-align: center ;
                font-size: 25px;
                color: #0abdfe;
            }
            .grid-content {
                border-radius: 4px;
                min-height: 40px;
            }
        </style>
    </head>
    <body class="hold-transition">
    <div id="app">
        <div slot="header" class="clearfix">
            <span style="text-align: center"></span>
        </div>
        <div class="text item">
            <div>
                <div class="app-container">
                    <div class="peopleBasicsMessage">发送邮件</div>
                    <div class="box">
                        <el-form ref="form" :model="form" label-width="80px">
                            <el-form-item label="收邮人">
                                <el-input v-model="form.receiver"></el-input>
                            </el-form-item>
                            <el-form-item label="主题">
                                <el-input v-model="form.subject"></el-input>
                            </el-form-item>
                            <el-form-item label="内容">
                                <el-upload
                                        class="upload-demo"
                                        action="/mail/upLoadMail"
                                        :on-remove="handleRemove"
                                        :before-remove="beforeRemove"
                                        multiple
                                        :limit="3"
                                        :on-exceed="handleExceed"
                                        :file-list="fileList"
                                        :on-success="handleSuccess"
                                    >
                                    <el-button size="small" type="primary">点击上传</el-button>
                                    <div slot="tip" class="el-upload__tip">上传附件</div>
                                </el-upload>
                                <el-input type="textarea" v-model="form.text">

                                </el-input>
                            </el-form-item>
                        </el-form>
                    </div>
                    <el-button @click="sendMail()" type="success">发送</el-button>
                </div>
            </div>
        </div>
    </div>
    </body>
    <style>
        .text {
            font-size: 20px;
        }
        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }
        .clearfix:after {
            clear: both
        }
    </style>
    <!-- 引入组件库 -->
    <script src="../../js/vue.js"></script>
    <script src="../../plugins/elementui/index.js"></script>
    <script src="../../js/axios-0.18.0.js"></script>
    <script>
        var that ;
        var vue = new Vue({
            el: '#app',
            data:{
                form : {
                    receiver : "" ,
                    subject : "" ,
                    text : "" ,
                    fileList:[]
                } ,
                fileList: [] ,
                headers : {
                    'Content-Type' : "application/x-www-form-urlencoded"
                }
            },
            created: function() {
                that = this ;
            } ,
            methods:{
                handleSuccess: function(respone , file ){
                    that.form.fileList.push( respone.entity ) ;
                } ,
                sendMail : function () {
                    var mail = {
                        receiver : that.form.receiver ,
                        subject : that.form.subject ,
                        text : that.form.text ,
                        fileList : that.fileList
                    }
                    axios.post( "/mail/sendMail?fileList=" + that.form.fileList
                        , mail ).then(function (value) {
                        data = value.data ;
                        if ( data.booler ) {
                            that.$message({
                                message: "发送成功" ,
                                type: 'success'
                            });
                        } else {
                            that.$message.error( "发送失败" ) ;
                        }
                    })
                } ,
                handleRemove : function () {
                    alert( "1")
                } ,
                beforeRemove : function () {
                    alert("2")
                } ,
                handleExceed : function () {
                }
            }
        })
    </script>
</html>