<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>基本信息</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../../plugins/elementui/index.css">
        <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/style.css">
        <style>
            .peopleBasicsMessage {
                text-align: center ;
                font-size: 25px;
                color: #0abdfe;
            }
            .grid-content {
                border-radius: 4px;
                min-height: 40px;
            }
        </style>
    </head>
    <body class="hold-transition">
        <div id="app">
            <div slot="header" class="clearfix">
                <span style="text-align: center"></span>
            </div>
            <div class="text item">
                <div>
                    <div class="app-container">
                        <div class="peopleBasicsMessage">人员基础信息</div>
                        <div class="box">
                            <div class="excelTitle" >
                                <el-button @click="exportData" type="success" plain>导出基础资料</el-button>
                                <el-button @click="updateEmpData()" type="primary" plain>修改</el-button>
                            </div>
                            <div class="excelTime">更新日期：{{people.updateDay}}</div>
                            <table class="exceTable" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="4" class="headBody">基本信息</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center" width='10%' class="tabletrBg">员工ID</td>
                                    <td width='40%'>{{people.id}}</td>
                                    <td style="text-align: center" width='10%' class="tabletrBg">员工姓名</td>
                                    <td width='40%'>{{people.name}}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center" class="tabletrBg">手机号码</td>
                                    <td>{{people.phone}}</td>
                                    <td style="text-align: center" class="tabletrBg">员工年龄</td>
                                    <td>{{people.age}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="headBody">其他信息</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center" class="tabletrBg">性别</td>
                                    <td>{{people.sex}}</td>
                                    <td style="text-align: center" class="tabletrBg">住址</td>
                                    <td>{{people.address}}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center" class="tabletrBg">email地址</td>
                                    <td>{{people.email}}</td>
                                    <td style="text-align: center" class="tabletrBg">家庭电话</td>
                                    <td>{{people.telephone}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="headBody">教育背景</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center" class="tabletrBg">学历</td>
                                    <td>{{people.study}}</td>
                                    <td style="text-align: center" class="tabletrBg">专业</td>
                                    <td>{{people.profession}}</td>
                                </tr>
                                <tr>
                                    <td  colspan="4" class="headBody">自身描述</td>
                                </tr>
                                <tr>
                                    <td colspan="4">{{people.remark}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 编辑标签弹层 -->
            <!--:rules="rules"-->
            <div class="add-form">
                <el-dialog title="人员信息修改" :visible.sync="dialogFormVisible4Edit">
                    <el-form ref="dataEditForm" :model="formData"  label-position="right" label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="人员用户名" prop="code">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="人员手机号码">
                                    <el-input v-model="formData.phone"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="电话号码">
                                    <el-input v-model="formData.telephone"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="学历">
                                    <el-select v-model="formData.study" placeholder="请选择活动区域">
                                        <el-option label="大专" value="大专"></el-option>
                                        <el-option label="本科" value="本科"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="专业">
                                    <el-input v-model="formData.profession"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="人员描述">
                                    <el-input v-model="formData.remark" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="地址">
                                    <el-input v-model="formData.address" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="sureUpdateEmpData()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </body>
    <style>
        .text {
            font-size: 20px;
        }
        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }
        .clearfix:after {
            clear: both
        }
    </style>
    <!-- 引入组件库 -->
    <script src="../../js/vue.js"></script>
    <script src="../../plugins/elementui/index.js"></script>
    <script src="../../js/axios-0.18.0.js"></script>
    <script>
        var that ;
        var vue = new Vue({
            el: '#app',
            data:{
                people:{
                    updateDay : "暂时没有" ,
                    id : "暂时没有" ,
                    name : "暂时没有" ,
                    phone : "暂时没有" ,
                    age : "暂时没有" ,
                    native : "暂时没有" ,
                    address : "暂时没有" ,
                    email : "暂时没有" ,
                    telephone : "暂时没有" ,
                    post : "暂时没有" ,
                    salary : "暂时没有" ,
                    study : "暂时没有" ,
                    profession : '暂时没有'
                } ,
                formData : {
                    username : "" ,
                    id :  "" ,
                    phone : "" ,
                    telephone : "" ,
                    address : "" ,
                    remark : "" ,
                    study : "" ,
                    profession:""
                } ,
                dialogFormVisible4Edit: false
            },
            created: function() {
                that = this ;
                that.writeExcel () ;
            } ,
            methods:{
                writeExcel : function() {
                    axios.get ( "/Emp/WriteEmp" ).then(function (value) {
                        var data = value.data ;
                        if ( data.booler ) {
                            that.people = data.entity ;
                        }
                    })
                } ,
                exportExcel : function() {

                } ,
                updateEmpData : function () {
                    that.dialogFormVisible4Edit = true ;
                    var peopeData = JSON.stringify( that.people ) ;
                    peopeData = JSON.parse( peopeData ) ;
                    that.formData = peopeData ;
                } ,
                sureUpdateEmpData : function ( ) {
                    axios.post( "/Emp/UpdateEmp" , that.formData ).then(function (value) {
                        var data = value.data ;
                        if ( data.booler ) {
                            that.writeExcel () ;
                            that.dialogFormVisible4Edit=false ;
                            that.$message({
                                message: data.message,
                                type: 'success'
                            });
                        } else {
                            that.$message.error ( data.message ) ;
                        }
                    })
                } ,
                exportData : function () {
                    window.location.href = "/Emp/exportData" ;
                }
            }
        })
    </script>
</html>
